<%= turbo_frame_tag dom_id(user) do %>
  <div style="display: flex">
    <p style="width: 150px"><%= user.first_name %></p>
    <p style="width: 150px"><%= user.last_name %></p>
    <p style="width: 150px"><%= user.email %></p>
    <p style="width: 150px"><%= user.approved ? "Approved" : "Pending" %></p>
    <p style="width: 150px">
    <% if user.approved %>
        <%= link_to "Edit", edit_user_path(user), html: { style: "width: 150px" } %>
    <% else %>
        <%= link_to "Approve", approve_user_path(user), data: {"turbo-method": :patch, turbo_frame: dom_id(user)}, html: { style: "width: 150px" } %>
    <% end %>    
    </p>
  </div>
<% end %>