
  <div class="stock-frame-container">

  <% if current_user.approved %>

    <div>
      <% if stock %>
      <h3>Your Balance: <%= current_user.balance.floor(4).to_s %></h3>
        <div class="stock-frame-buy">
          <%= form_with model: @order, url: buy_order_path(stock.id), method: :post do |form| %>


          <div>
            <%= form.label :price, style: "display: block" %>
            <%= form.number_field :price, value: stock.price, step: :any %>
          </div>
          
          <div>
            <%= form.submit "Buy #{stock.ticker}" %>
          </div>
        <% end %>
        <br>
        <%= form_with model: @order, url: buy_order_path(stock.id), method: :post do |form| %>
          <div>
            <%= form.label :quantity, style: "display: block" %>
            <%= form.number_field :quantity, step: :any, placeholder: "Max #{(current_user.balance/stock.price).floor(4)} units" %>
          </div>

          <div>
            <%= form.submit "Buy #{stock.ticker}" %>
          </div>
        <% end %>
        </div>

    <% if true %>
    <h3>Avaiable <%= stock.ticker %> assets: <%= @asset&.quantity&.floor(4) || "0.0" %></h3>
      <div>
        <div class="stock-frame-sell">
          <%= form_with model: @order, url: sell_order_path(stock.id), method: :post do |form| %>

            <div>
              <%= form.label :price, style: "display: block" %>
              <%#= form.number_field :price, step: :any, placeholder: "Max USD #{(@asset.quantity * stock.price).floor(4)}" %>
              <%= form.number_field :price, step: :any, placeholder: "Max USD" %>
            </div>

            <div>
              <%= form.submit "Sell #{stock.ticker}" %>
            </div>
          <% end %>
          <br>
          <%= form_with model: @order, url: sell_order_path(stock.id), method: :post do |form| %>
            <div>
              <%= form.label :quantity, style: "display: block" %>
              <%= form.number_field :quantity, step: :any, value: @asset&.quantity&.floor(4) || "0.0" %>
            </div>

            <div>
              <%= form.submit "Sell #{stock.ticker}" %>
            </div>
          <% end %> 
          </div> 
        <% end %>
      </div>
    
    </div>
    <% else %>
      <div>
        <h1>Please choose a stock to trade</h1>
      </div>
      <% end %>

    <% else %>
      <div>
        <h1>Trading access is only granted to approved accounts. Please await approval by an administrator.</h1>
      </div>

    <% end %>

  </div>