<p style="color: green"><%= notice %></p>

<h1><%= @stock.ticker %></h1>
<h2><%= @stock.company %></h2>
<h3>USD <%= @stock.price %></h3>
<p>There are <span><%= @stock.orders.buy.count %></span> Buy orders for this stock</p>
<% @stock.orders.buy.each do |order| %>
  <span>Order No.: <%= order.id %></span>
  <span>Offer: USD <%= order.price %></span>
  <span>Qt: <%= order.quantity %></span>
<% end %>

<p>There are <span><%= @stock.orders.sell.count %></span> Sell orders for this stock</p>
<% @stock.orders.sell.each do |order| %>
  <span>Order No.: <%= order.id %></span>
  <span>Asking: USD <%= order.price %></span>
  <span>Qt: <%= order.quantity %></span>
<% end %>

<div style="display: flex; padding: 20px;">
  <%= form_with model: @order, url: create_order_path(0, @stock.id), method: :post do |form| %>
    <h3>Your Balance: <%= current_user.balance %></h3>

    <div>
      <%= form.label :price, style: "display: block" %>
      <%= form.number_field :price %>
    </div>

    <div>
      <%= form.label :quantity, style: "display: block" %>
      <%= form.number_field :quantity %>
    </div>

    <div>
      <%= form.submit "Buy #{@stock.ticker}" %>
    </div>
  <% end %>

  <% if @asset %>
    <%= form_with model: @order, url: create_order_path(1, @stock.id), method: :post do |form| %>
      <h3>Avaiable <%= @stock.ticker %> assets: <%= @asset.quantity %></h3>

      <div>
        <%= form.label :price, style: "display: block" %>
        <%= form.number_field :price %>
      </div>

      <div>
        <%= form.label :quantity, style: "display: block" %>
        <%= form.number_field :quantity %>
      </div>

      <div>
        <%= form.submit "Sell #{@stock.ticker}" %>
      </div>
    <% end %> 
  <% end %>
  
</div>

<div>
  <%= link_to "Back to stocks", stocks_path %>
</div>
