<p style="color: green"><%= notice %></p>

<h1><%= @stock.ticker %></h1>
<h2><%= @stock.company %></h2>
<h3>USD <%= @stock.price %></h3>
<p>There are <span><%= @stock.orders.buy.count %></span> Buy orders for this stock</p>
<% @stock.orders.buy.each do |order| %>
  <span>Order No.: <%= order.id %></span>
  <span>Offer: USD <%= order.price %></span>
  <span>Qt: <%= order.quantity %></span>
<% end %>

<p>There are <span><%= @stock.orders.sell.count %></span> Sell orders for this stock</p>
<% @stock.orders.sell.each do |order| %>
  <span>Order No.: <%= order.id %></span>
  <span>Asking: USD <%= order.price %></span>
  <span>Qt: <%= order.quantity %></span>
<% end %>

<div>
  <%= link_to "Back to stocks", stocks_path %>
</div>
