<p style="color: green"><%= notice %></p>

<%= render @stock %>
<p>There are <span><%= @stock_buy.count %></span> Buy orders for this stock</p>
<% @stock_buy.each do |order| %>
  <span><%= order.quantity %></span>
<% end %>

<p>There are <span><%= @stock_sell.count %></span> Sell orders for this stock</p>
<% @stock_sell.each do |order| %>
  <span><%= order.quantity %></span>
<% end %>

<div>
  <%= link_to "Back to stocks", stocks_path %>
</div>
