<div id="<%= dom_id order %>">
  <p>
    <strong>Action:</strong>
    <%= order.action %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= order.user_id %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= order.stock_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= order.quantity %>
  </p>

</div>
