<%= form_with(url: withdraw_path, method: :post) do |form| %>

  <%= render 'bank_form_nav' %>

<div class='bank-form'> 
  <h1>Withdraw</h1>

<div class='bank-form-details'>
  <div class='bank-balance'>
    Balance: <%= current_user.balance %>
  </div>

  <div class='bank-amount'>
  <div>
    <%= form.number_field :amount, placeholder: "Enter amount" %>
  </div>

  <div class='bank-form-save'>
    <%= form.submit %>
  </div>
  </div>
</div>
</div>

<% end %>